langchain
langchain_community
langchain_core
langchain-classic
langchain_groq
langchain_huggingface
python-dotenv
fastapi
uvicorn
faiss-cpu
tiktoken
pypdf
from_root
sentence-transformers
beautifulsoup4
-e .