langchain_community
langchain_core
langchain_groq
langchain-nvidia-ai-endpoints
python-dotenv
fastapi
uvicorn
faiss-cpu
tiktoken
pypdf
from_root
beautifulsoup4
streamlit
requests
python-multipart
-e .